In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import seaborn as sns

### PATHS

In [2]:
TRAIN = '../Data/df_train.csv'
TEST = '../Data/df_test.csv'

In [3]:
df = pd.read_csv(TRAIN)

col = 'tab10'

In [4]:
X = df[['RI', 'Na', 'Mg', 'Al','Si','K','Ca','Ba','Fe',]]
y = df['type']

z_score = lambda x : (x-np.mean(x,axis=0))/ np.std(x,axis=0) #from exercise 5

X_std = z_score(X)

In [5]:
sorted(df['type'].unique()) #'y' values

[1, 2, 3, 5, 6, 7]

In [6]:
df.shape ## SMALL training set!!

(149, 10)

In [7]:
#pd.plotting.scatter_matrix(X, c=y, figsize=(20,20), diagonal='kde', cmap=col);

#plt.savefig('../Vis/early_plot');

In [12]:
round(X.describe(), 3) #not on the same scales so we probably want to normalise data for most methods

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe
count,149.000,149.000,149.000,149.000,149.000,149.000,149.000,149.000,149.000
mean,1.518,13.420,2.725,1.435,72.624,0.485,8.924,0.200,0.062
std,0.003,0.863,1.422,0.506,0.783,0.570,1.511,0.553,0.098
min,1.511,10.730,0.000,0.290,69.810,0.000,5.430,0.000,0.000
25%,1.517,12.930,2.280,1.170,72.280,0.130,8.220,0.000,0.000
50%,1.518,13.300,3.490,1.360,72.780,0.550,8.590,0.000,0.000
75%,1.519,13.830,3.610,1.620,73.050,0.610,9.140,0.000,0.110
max,1.534,17.380,3.980,3.500,75.410,6.210,16.190,3.150,0.370

In [11]:
round(X_std.describe(), 3) #standardised to mean 0, std 1

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe
count,149.000,149.000,149.000,149.000,149.000,149.000,149.000,149.000,149.000
mean,-0.000,-0.000,-0.000,0.000,0.000,0.000,0.000,0.000,-0.000
std,1.003,1.003,1.003,1.003,1.003,1.003,1.003,1.003,1.003
min,-2.273,-3.127,-1.922,-2.268,-3.605,-0.854,-2.320,-0.362,-0.633
25%,-0.561,-0.570,-0.314,-0.524,-0.440,-0.625,-0.468,-0.362,-0.633
50%,-0.230,-0.140,0.540,-0.148,0.200,0.114,-0.222,-0.362,-0.633
75%,0.229,0.476,0.625,0.367,0.546,0.220,0.143,-0.362,0.497
max,4.842,4.602,0.886,4.092,3.570,10.077,4.824,5.350,3.169

In [10]:
#pd.plotting.scatter_matrix(X_std, c=y, figsize=(20,20), diagonal='kde', cmap=col);

#plt.savefig('../Vis/std_early_plot');